<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="sistema_seguros_devEntities" connectionString="metadata=res://*/SegurosModel.csdl|res://*/SegurosModel.ssdl|res://*/SegurosModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=sistemaSeguros;password=password;Persist Security Info=True;database=sistema_seguros_dev&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>